#multiButton1,
#multiButton2, 
#multiButton3,
#multiButton4,
#multiButton5,
#multiButton6,
#multiButton7, 
#multiButton8,
#multiButton9,
#multiButton10,
#score2,
#score3,
#rebirthButton1,
#rebirthButton2,
#rebirthButton3,
#rebirthButton4,
#rebirthButton5 {
  display: none;
}

.multiUpgrades {
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
}
.rebirthUpgrades {
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
}
.multiButton {
  background-color: rgb(233, 73, 73);
  color: white;
  font-size: medium;
  font-weight: bold;
  border-radius: 8px;
  border-color: red;
}
.rebirthButton {
  background-color: rgb(175, 0, 175);
  color: white;
  font-size: medium;
  font-weight: bold;
  border-radius: 8px;
  border-color: purple;
}
body {
  background-color: rgb(109, 190, 245);
}
.score {
  color: white;
  font-weight: bold;
  font-size: large;
}
.info {
  color: white;
  font-size: medium;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}
.scoreCounter {
  display: flex;
  gap: 10px;
}
